<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mm.moneymanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moneymanager"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseUpdateCatChooseActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeUpdateCatChooseActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateIncomeActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseAddCatChooseActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseAddActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeAddCatChooseActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeAddActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateExpenseCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateIncomeCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseCategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeCategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AddExpenseCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AddIncomeCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".IncomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>